data/** filter=lfs diff=lfs merge=lfs -text
data/large_dataset_part_* filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
C:/Users/TUF[[:space:]]F16/Desktop/New[[:space:]]folder/Secure-Compliant-ML-Security-Pipeline/data filter=lfs diff=lfs merge=lfs -text
data/raw/AIML[[:space:]]Dataset.csv filter=lfs diff=lfs merge=lfs -text
